
::-webkit-scrollbar{
    width: 12px;
} 

::-webkit-scrollbar-thumb{
    background: #1aeeef;
    border-radius: 6px;
} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.navbar-brand{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    font-size:2em;
    font-weight: 700;
}

.container-fluid{
    background:#050e2d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 100;
}

  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav-item {
    list-style-type: none;
    margin:10px;
}
  
.nav-link {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
  
.nav-link:hover {
    /* background-color: rgb(13, 183, 163); 
    color: #fff;  */
    background:#1aeeef;
    color: #050e2d;
    box-shadow:0 0 10px #1aeeef;
}

.banner{
    background: #050e2d;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content{
    width: 50%;
    height: 100%;
    color: white;
    z-index: 3;
}

.banner .bg .content h2 {
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;

}


.content p {
    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;
}

.content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

#myVideo{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 70%;
    z-index: 1;
}

/*About us*/
.about{
    background: #050e2d;
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx{
    width: 50%;
    margin: 20px;
}

.about .contentBx h2{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.about .contentBx p{
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}

.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.about .contentBx a:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px 1aeeef;
}
#myImage{
    position: relative;
    left: -60px;
    width: 400px;
    height: 400px;
    transform: scaleX(-1);
}

/*contact*/
.contact{
    background: #050e2d;
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius:10px;
}

.contact .form{
    width: 50%;
    margin: 30px;
}

.contact .form h1{
    color:#fff;
}

.contact .form .inputBx{
    margin: 10px 0;
}

.contact .form .inputBx p{
    color: #fff;
}

.contact .form .inputBx input,
.contact .form .inputBx textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
}

.contact .form .inputBx textarea{
    height: 150px;
}

.contact .form .inputBx input[type="submit"]
{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1aeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}

.contact .form .inputBx input[type="submit"]:hover{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}


@media only screen and (max-width: 768px) {
    .container-fluid {
      padding: 5px;
    }
  
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-brand {
      margin-bottom: 10px;
    }
  
    .banner .bg .content {
      width: 90%;
      text-align: center;
    }
  
    .banner .bg .content h2 {
      font-size: 2.5em;
    }
  
    .content p {
      font-size: 0.9em;
    }
  
    #myImage {
      width: 100%;
      height: auto;
      margin-top: 20px;
      margin-left: 100px;
    }
  
    .about {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .about .contentBx {
      width: 90%;
    }
  
    .about .contentBx p {
      margin-bottom: 20px;
    }
  
    .contact {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .contact img {
      width: 100%;
      height: auto;
      border-radius: 0;
    }
  
    .contact .form {
      width: 90%;
    }
  
    /* New styles for mobile layout */
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    #myImage {
      width: 100%;
      max-width: 300px; /* Set maximum width for the image */
      margin-right: 20px; /* Add margin between image and text */
    }
  
    .about .contentBx {
      width: 100%;
    }
  }